.Photo {
    height: 317px;
    background-size: 100%;
    border-radius: 10px 10px 0px 0px;
    background-image: url("./../../Icons/Foto2.png");
    background-position: center;
    background-position-y: 15%;
    background-size: cover;
}